html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: $color-background;
  @extend %font-prim;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

h1, h3, p {
  margin: 0;
}

.container {
  display: flex;
  //margin-top: 4.3rem;
}
