html {
  font-size: 10px;
}

.path {
  fill: #6B69F9;
}

body {
  margin: 0;
  background: $color-background;
  @extend %font-prim;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

h1, h3, p {
  margin: 0;
}

