.ico {
  display: inline-block;
  cursor: pointer;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;


  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;

  &_green {
    background: $color-green;
  }
}

.icon-rectangle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.4rem;

  box-shadow: 0 0 1.2rem rgba(255, 71, 56, 0.5);
  -webkit-box-shadow: 0 0 1.2rem rgba(255, 71, 56, 0.5);

  &_red {
    background-color: $color-red;
  }
}

.ico_lightning {
  width: 0.7rem;
  height: 1.2rem;
  background-image: url("../img/icon/lightning.svg");
}

.ico_beeinter {
  width: 40.43px;
  height: 7.68px;
  background-image: url("../img/logo.svg");
}

.ico_action {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("../img/icon/action.svg");
}

.ico_adventure {
  width: 1.2rem;
  height: 1.8rem;
  background-image: url("../img/icon/adventure.svg");
}

.ico_casual {
  width: 1.4rem;
  height: 1.8rem;
  background-image: url("../img/icon/casual.svg");
}

.ico_strategy {
  width: 1.2rem;
  height: 1.7rem;
  background-image: url("../img/icon/strategy.svg");
}

.ico_intellectual {
  width: 1.6rem;
  height: 1.8rem;
  background-image: url("../img/icon/intellectual.svg");
}

.ico_sport {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../img/icon/sport.svg");
}
