.button, body {
  font-family: "Jost", sans-serif;
}

.card, .menu-bottom__item:hover, .leftbar__footer-text-link, .topbar__nav-link, .arrow_right, .arrow_left, .button {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  background: #2B2C3A;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

h1, h3, p {
  margin: 0;
}

.ico {
  display: inline-block;
  cursor: pointer;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
}
.icon-square_green {
  background: #24CB8D;
}

.icon-rectangle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1.2rem rgba(255, 71, 56, 0.5);
}
.icon-rectangle_red {
  background-color: #FF4738;
}

.ico_lightning {
  width: 0.7rem;
  height: 1.2rem;
  background-image: url("../img/icon/lightning.svg");
}

.ico_beeinter {
  width: 40.43px;
  height: 7.68px;
  background-image: url("../img/logo.svg");
}

.ico_action {
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("../img/icon/action.svg");
}

.ico_adventure {
  width: 1.2rem;
  height: 1.8rem;
  background-image: url("../img/icon/adventure.svg");
}

.ico_casual {
  width: 1.4rem;
  height: 1.8rem;
  background-image: url("../img/icon/casual.svg");
}

.ico_strategy {
  width: 1.2rem;
  height: 1.7rem;
  background-image: url("../img/icon/strategy.svg");
}

.ico_intellectual {
  width: 1.6rem;
  height: 1.8rem;
  background-image: url("../img/icon/intellectual.svg");
}

.ico_sport {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../img/icon/sport.svg");
}

.button {
  width: 8.6rem;
  height: 3rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.button_colored {
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  border-radius: 0.4rem;
}
.button_colored:hover {
  box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
}
.button_colored:active {
  background: #9897f8;
}

.arrow_right, .arrow_left {
  width: 3rem;
  height: 3rem;
  padding: 1rem 2rem;
  background: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  border-radius: 0.4rem;
  cursor: pointer;
}
.arrow_right:hover, .arrow_left:hover {
  box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
}
.arrow_right:active, .arrow_left:active {
  opacity: 0.07;
}

.arrow_left {
  background: url("../img/icon/left.svg") no-repeat center;
  margin-left: 0.5rem;
}

.arrow_right {
  background: url("../img/icon/right.svg") no-repeat center;
}

.account-info {
  display: flex;
  align-items: center;
  margin-left: 1.4rem;
}

.account__name {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: #FFFFFF;
}

.account__status {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  color: #24CB8D;
}

.account__tariff {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  box-shadow: 0 0 1.2rem rgba(111, 110, 255, 0.5);
  border-radius: 0.4rem;
  padding: 0.2rem 1.1rem 0.2rem 0.8rem;
  margin-left: 1.5rem;
}

.topbar__text {
  display: flex;
}

.topbar__nav {
  display: flex;
  align-items: center;
}

.topbar__nav-list {
  margin-right: 2.8rem;
}

.topbar__nav::after {
  content: "";
  background: #D8D8D8;
  opacity: 0.1;
  width: 0.1rem;
  height: 2.4rem;
}

.topbar__nav-link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.6;
}
.topbar__nav-link:hover {
  opacity: 1;
}

.topbar__coins {
  display: flex;
  align-items: center;
}

.coins__text {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  margin-right: 1rem;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 0.5rem;
  width: 9.6rem;
  height: 2.4rem;
  text-align: center;
  padding: 0.7rem 0.9rem 0;
}

.coins__text > span:nth-child(3) {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.6;
}

.coins__text > span:nth-child(1) {
  margin-right: 1rem;
}

.leftbar {
  background-color: rgba(156, 165, 236, 0.04);
  position: sticky;
  width: 280px;
}

.leftbar__wrapper {
  padding-top: 9px;
  padding-bottom: 3.1rem;
}

.leftbar__header {
  border-bottom: 0.1rem solid rgba(216, 216, 216, 0.1);
  padding: 0 11rem 1.5rem 3rem;
}

.leftbar__header-logo {
  cursor: pointer;
}

.leftbar-year {
  font-size: 10.7331px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  color: #FFFFFF;
  margin-left: 6.8rem;
}

.leftbar-title {
  font-size: 22.1818px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
  color: #FFFFFF;
  margin: 0;
}

.leftbar__content {
  padding-left: 3rem;
  margin-top: 3rem;
  border-bottom: 0.1rem solid rgba(216, 216, 216, 0.06);
}

.leftbar__footer {
  margin: 186px 30px 0;
}

.leftbar__footer-text-link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.5;
}
.leftbar__footer-text-link:hover {
  opacity: 1;
}

.leftbar-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4.2rem;
  height: 2.2rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 0.1rem solid #FFFFFF;
  background: transparent;
}

.slider:before {
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  bottom: 0.2rem;
  background-color: #6F6EFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  color: #6F6EFF;
  box-shadow: 0 0 1.2rem rgba(111, 110, 255, 0.5);
}

input:focus + .slider {
  color: #6F6EFF;
  box-shadow: 0 0 1.2rem rgba(111, 110, 255, 0.5);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

.menu__item {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 1.3rem;
}

.menu__item, .menu__item.open {
  position: relative;
}

.menu__item:nth-child(1)::after, .menu__item:nth-child(3)::after {
  content: "";
  background: url("../img/icon/down.svg");
  width: 1rem;
  height: 0.6rem;
  display: inline-flex;
  left: 21.3rem;
  top: 0.4rem;
  position: absolute;
}

.menu__item.open:nth-child(1)::after, .menu__item.open:nth-child(3)::after {
  content: "";
  background: url("../img/icon/up.svg");
  width: 1rem;
  height: 0.6rem;
  display: inline-flex;
  left: 21.3rem;
  top: 0.4rem;
  position: absolute;
}

.leftbar-menu-bottom.open {
  display: block;
}

.leftbar-menu-bottom {
  display: none;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
}

.menu-bottom__item {
  display: flex;
  margin-bottom: 1.5rem;
  height: 4rem;
  align-items: center;
}
.menu-bottom__item:hover {
  background: rgba(255, 255, 255, 0.03);
  color: #FFFFFF;
}
.menu-bottom__item:hover::before {
  content: "";
  height: 4rem;
  width: 0.3rem;
  background: #6B69F9;
  margin-right: 4.7rem;
}
.menu-bottom__item:hover .ico_action {
  fill: #6B69F9;
}
.menu-bottom__item:hover .menu-bottom__item-link {
  opacity: 1;
}

.menu-bottom__item-link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.5;
  margin-left: 2.4rem;
}

.topbar {
  flex: 4;
  border-bottom: 0.1rem solid rgba(216, 216, 216, 0.1);
  height: 7.2rem;
  position: sticky;
  background: #2B2C3A;
  z-index: 999;
  top: 0;
}

.topbar__wrapper {
  padding: 1.4rem 4.5rem 1.4rem 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: flex-end;
}

.weekly {
  margin: 11.2rem 5.5rem 0 5.5rem;
  position: absolute;
}

.weekly_quests {
  margin-bottom: 6rem;
}

.weekly__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.weekly__header-desc {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.4;
  margin-bottom: 0.7rem;
}

.weekly__header-title {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  color: #FFFFFF;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 25.5rem;
  background: #373846;
  border-radius: 0.6rem;
  cursor: pointer;
  margin-right: 1.1rem;
}
.card:hover {
  box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
  transform: scale(1.1);
}

.card:nth-child(4) {
  margin-right: 0;
}

.card > span {
  width: 5rem;
  height: 2rem;
  position: absolute;
  margin: 1.5rem;
  padding: 0.4rem 0.5rem 0.4rem 0.6rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  text-align: center;
  color: #FFFFFF;
  background: #6F6EFF;
  border-radius: 0.3rem;
}

.card__content {
  margin: 1rem 2.5rem 3.3rem 1.5rem;
  border-bottom: 0.1rem solid rgba(216, 216, 216, 0.1);
  padding-bottom: 3.3rem;
}

.card__title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  color: #FFFFFF;
}

.card__desc {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  color: #FFFFFF;
  opacity: 0.5;
}

.card__footer {
  margin: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__footer span {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
