html {
  /*font-size: 10px;*/
}

/*body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  background: #2B2C3A;*/
/*  font-family: 'Jost', sans-serif;*/
/*}*/

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

/*.ico {*/
/*  display: inline-block;*/
/*  cursor: pointer;*/
/*}*/

/*.ico_beeinter {*/
/*  width: 40.43px;*/
/*  height: 7.68px;*/
/*  background-image: url("../img/logo.svg");*/
/*}*/










/*.topbar__communication {*/
/*  margin-left: 55px;*/
/*}*/

/*.navigation {*/
/*  display: flex;*/
/*}*/

/*.navigation::after {*/
/*  content: '';*/
/*  background: #D8D8D8;*/
/*  opacity: 0.1;*/
/*  width: 1px;*/
/*  height: 24px;*/
/*}*/

/*.nav-item {*/
/*  margin-right: 28px;*/
/*}*/

/*.nav-item:nth-child(2) {*/
/*  margin-right: 23px;*/
/*}*/

/*.item-link {*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 10px;*/
/*  color: #FFFFFF;*/

/*  mix-blend-mode: normal;*/
/*  opacity: 0.6;*/
/*}*/

/*.topbar__coins {*/
/*  display: flex;*/
/*}*/

/*.coins__text {*/
/*  margin-right: 10px;*/

/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-size: 13px;*/
/*  line-height: 10px;*/
/*  color: #FFFFFF;*/

/*  background: rgba(255, 255, 255, 0.06);*/
/*  border-radius: 5px;*/
/*  width: 96px;*/
/*  height: 24px;*/

/*  text-align: center;*/
/*  padding: 7px 9px 0;*/
/*}*/

/*.coins__text:nth-child(3) {*/
/*  margin-right: 6px;*/
/*}*/

/*.coins__text>span:nth-child(3) {*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-size: 11px;*/
/*  line-height: 10px;*/

/*  color: #FFFFFF;*/
/*  opacity: 0.6;;*/
/*}*/

/*.coins__text>span:nth-child(1) {*/
/*  margin-right: 10px;*/
/*}*/








