$color-background: #2B2C3A;
$color-background-add: rgba(156, 165, 236, 0.04);;
$color-add: #6F6EFF;
$color-border-bottom: #D8D8D8;
$color-card: #373846;

$color-red: #FF4738;
$color-green: #24CB8D;
$color-white: #FFFFFF;
$color-violet-light: #9897f8;
