.menu__item {
  @include font($size: 1.4rem, $height: 2.0rem, $weight: 400, $style: normal);
  letter-spacing: .1rem;
  text-transform: uppercase;

  color:$color-white;
  cursor: pointer;
  margin-bottom: 1.3rem;
}

.menu__item, .menu__item.open {
  position: relative;
}

.menu__item:nth-child(1)::after, .menu__item:nth-child(3)::after {
  content: "";
  background: url('../img/icon/down.svg');
  width: 1rem;
  height: 0.6rem;
  display: inline-flex;
  left: 21.3rem;
  top: .4rem;
  position: absolute;
}

.menu__item.open:nth-child(1)::after, .menu__item.open:nth-child(3)::after  {
  content: '';
  background: url("../img/icon/up.svg");
  width: 1.0rem;
  height: .6rem;
  display: inline-flex;
  left: 21.3rem;
  top: .4rem;
  position: absolute;
}

.menu__item.open .leftbar-menu-bottom {
  display: block;
}

.leftbar-menu-bottom {
  display: none;
  margin-top: 1.8rem;
  margin-bottom: 2.0rem;
}

.menu-bottom__item {
  display: flex;
  align-items: center;

  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;


  margin-bottom: 1.5rem;
  height: 4rem;

  &:hover  {
    background: rgba(255, 255, 255, 0.03);
    @extend %transition;
    color: $color-white;

    &::before {
      content: '';
      height: 4.0rem;
      width: .3rem;
      background: #6B69F9;
      margin-right: 4.7rem;
    }

    .ico_action {
      fill: #6B69F9;
    }

    .menu-bottom__item-link {
      opacity: 1;
    }
  }

}

.menu-bottom__item-link {
  @include font($size: 1.4rem, $height: 1.0rem, $weight: 400, $style: normal);
  color: $color-white;
  opacity: 0.5;
  margin-left: 2.4rem;
}
