.topbar {
  flex: 2;
  border-bottom: .1rem solid $color-border-bottom;
  width: 100%;
  height: 7.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbar__wrapper {
  padding: 1.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

